@charset "UTF-8";

header {
  background-color: var(--header-background-color);
  color: var(--header-text-color);
  margin: 0;
  padding: 8rem 0;
  position: relative;
}

@media screen and (max-width: 500px) {
  header {
    padding-bottom: 4rem;
    padding-top: 2rem;
  }
}

header h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0 0 .25em;
  overflow-wrap: break-word;
  padding: 0;
  text-align: center;
}

header a {
  color: var(--header-link-text-color);
  text-decoration: none;
}

header a:hover {
  color: var(--header-link-hover-text-color);
}

header .description {
  font-size: .9rem;
  line-height: 1.5;
  margin: 0 auto;
  width: 80%;
}

@media screen and (max-width: 500px) {
  header .description {
    margin: 0 1em;
    width: auto;
  }
}

header nav ul {
  bottom: 0;
  margin: 1rem .5rem .5rem;
  padding: 0;
  position: absolute;
  right: 0;
}

header nav ul::after {
  clear: both;
  content: "";
  display: block;
}

header nav li,
header nav li + li::before {
  float: left;
}

header nav li {
  display: block;
  margin: 0;
  padding: 0;
}

header nav li + li::before {
  color: var(--header-hover-text-color);
  content: "/";
  display: block;
  margin: 0 .25em;
}
