@charset "UTF-8";

:root {
  --main-background-color: #eee;
  --main-text-color: #444;

  --header-background-color: #c33;
  --header-text-color: #eee;
  --header-link-text-color: #999;
  --header-link-hover-text-color: #333;
}
